@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

.list_cont {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-left: 5px;
  width: 100%;
}
.unordered_list {
  list-style: none;
  background: #f4f4f4;
  height: min-content;
  width: 95%;
  border-radius: 5px;
}
.unordered_list > p {
  font-size: 25px;
  font-weight: 500;
  height: 40px;
  align-self: center;
  font-family: "Poppins", sans-serif;
  background: lightgray;
}

.list_items {
  cursor: default;
  border: none;
  margin: 10px;
  width: 100%;
}

@media only screen and (max-width: 768px) {
  .list_cont {
    margin-left: 0;
  }
}
